USE [DemoDB]
GO



/****** Object:  Table [dbo].[Prescription]    Script Date: 4/3/2022 8:35:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescription](
	[SNo] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [nvarchar](50) NOT NULL,
	[Drug] [nvarchar](50) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[FilledDate] [date] NOT NULL,
 CONSTRAINT [PK__Prescrip__CA1EE04C4767C6B7] PRIMARY KEY CLUSTERED 
(
	[SNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Prescription] ON 




/****	Test Data for Analysis	****/
INSERT [dbo].[Prescription] ([SNo], [PatientID], [Drug], [OrderDate], [FilledDate]) VALUES (1, N'A460', N'X', CAST(N'2014-01-20' AS Date), CAST(N'2014-01-21' AS Date))
INSERT [dbo].[Prescription] ([SNo], [PatientID], [Drug], [OrderDate], [FilledDate]) VALUES (2, N'D998', N'X', CAST(N'2014-02-02' AS Date), CAST(N'2014-02-28' AS Date))
INSERT [dbo].[Prescription] ([SNo], [PatientID], [Drug], [OrderDate], [FilledDate]) VALUES (3, N'A491', N'Y', CAST(N'2014-02-15' AS Date), CAST(N'2014-02-17' AS Date))
SET IDENTITY_INSERT [dbo].[Prescription] OFF
GO



--Assuming In-Patient have their PatientID starting with A

--Question 1
How many In-Patient have filled a prescription for drug “X” between January 1, 2014 and August 17, 2014? (answer = 5)


--Solution 1
Select Count(*) from Prescription where FilledDate between 'January 1, 2014' and 'August 17, 2014'
and PatientID like 'A%' and Drug = 'X'


--------------------------


--Question 2:
--Write an SQL query that provides the list of patients broken by Drug and Location (In-Patient/Out-Patient) with same date range in question 1?

--Solution 2
/*****	Analytic Query showing Patient Count based on Drug prescription and Location	*****/
select Count(p.PatientCount) as PatientsCount, p.Drug, p.Location from
(
	select PatientID, count(PatientID) as PatientCount, Drug, 
	case 
	when PatientID like 'A%' then 'In-Province'
		else 'Out-Province'
	end as Location
	from Prescription
	where FilledDate between 'January 1, 2014' and 'August 17, 2014'
	group by PatientID, Drug
) p 
group by p.drug, p.Location
order by p.Drug, p.Location;